@model IEnumerable<Basvuru>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- Page-header start -->
                            <div class="page-header">
                                <div class="page-header-title">
                                    <h4>Bursu Kesilen Öğrenciler</h4>
                                    <span>Başarısız olan öğrencilerin listesidir.</span>
                                </div>
                                <div class="page-header-breadcrumb">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html">
                                                <i class="icofont icofont-home"></i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="#!">Öğrenci İşlemleri</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="#!">Öğrenci Yönetimi</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="#!">Bursu Kesilenler</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Page-header end -->
                            <!-- Page-body start -->
                            <div class="page-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- HTML5 Export Buttons table start -->
                                        <div class="card">
                                            <div class="card-header table-card-header">
                                                <h5>BURSU KESİLENLER LİSTESİ</h5>
                                                <div class="card-header-right">
                                                    <i class="icofont icofont-rounded-down"></i>
                                                    <i class="icofont icofont-refresh"></i>
                                                    <i class="icofont icofont-close-circled"></i>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <div class="dt-responsive table-responsive">
                                                    <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>Resim</th>
                                                                <th>Adı Soyadı</th>
                                                                <th>Okul</th>
                                                                <th>Bölüm</th>
                                                                <th>Şehir</th>
                                                                <th>Puan</th>
                                                                <th>İşlem</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model)
                                                            {
                                                                <tr>
                                                                    <td><img src="@item.Resim" width="100" height="75" /></td>
                                                                    <td>@item.Ad @item.Soyad</td>
                                                                    <td>@item.Okul.Ad</td>
                                                                    <td>@item.Bolum.Ad</td>
                                                                    <td>@item.Sehir.Ad</td>
                                                                    <td>@item.Puan</td>
                                                                    <td>
                                                                        <a href="/Admin/Ogrenci/Profil/@item.Id" target="_blank" class="btn btn-info btn-outline-info"><i class="icofont icofont-info-square"></i> PROFİL GÖR</a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th>Resim</th>
                                                                <th>Adı Soyadı</th>
                                                                <th>Okul</th>
                                                                <th>Bölüm</th>
                                                                <th>Şehir</th>
                                                                <th>Puan</th>
                                                                <th>İşlem</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-body end -->
                            </div>
                        </div>
                    </div>
                    <!-- Main-body end -->
                    <div id="styleSelector">

                    </div>
                </div>
            </div>
        </div>
    </div>